.book-card {
  width: 320px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: var(--spacing-64) min-content var(--spacing-40);
  column-gap: var(--spacing-16);
  row-gap: 0;
  grid-template-areas:
    "title title"
    "cover cover"
    "price cta";
  margin: var(--spacing-16) var(--spacing-4);
  padding: var(--spacing-8);
  border: 1px solid var(--grey);
  border-radius: var(--spacing-8);
  background-color: var(--grey-light);
  align-items: center;
  justify-items: center;
}

.book-cover {
  grid-area: cover;
  text-align: center;
}

.book-cover > img {
  width: 250px;
  height: 360px;
  object-fit: cover;
}

.book-title {
  grid-area: title;
  text-align: center;
}

.book-price {
  grid-area: price;
  text-align: center;
  white-space: nowrap;
}

.book-cta {
  grid-area: cta;
  text-align: center;
}

.book-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: var(--spacing-8) var(--spacing-8);
}