@import url("./colors.css");
@import url("./typography.css");
@import url("./spacings.css");

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

body > main {
  flex: 1;
}

body > footer {
  background-color: var(--primary);
  color: var(--white);
  text-align: center;
  padding: var(--spacing-4);
  font-size: 80%;
  font-style: italic;
}
