---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout activePage="Library">
  <h1>The Henri Pottier Library</h1>
	<p>This is a Astro.js declination of one of the recruitment tests used to hire frontend developers at Publicis Sapient France.</p>
</BaseLayout>
