---
import BaseLayout from '@layouts/BaseLayout.astro'
import BookCard from '@components/BookCard.astro'

import type { Book } from '../types'

const books: Book[] = await fetch('https://henri-potier.techx.fr/books')
  .then((response) => response.json())
	.catch((error) => { throw(error) });
---

<BaseLayout activePage="Library">
	<section class="book-list">
		{books.map((book) => <BookCard book={book} />)}
	</section>
</BaseLayout>
