---
import BaseLayout from '../layouts/BaseLayout.astro'
import type { Book } from '../types/Book'

const books: Book[] = await fetch('https://henri-potier.techx.fr/books').then((response) => response.json());
---

<BaseLayout activePage="Library">
	{books.map((book) => (
		<div class="book">
			<img src={book.cover} alt={book.title} width="50%" />
			<h2>{book.title}</h2>
			<p>{book.price}€</p>
		</div>
	))}
</BaseLayout>
