---
import type { Book } from '../types'

const book: Book = Astro.props.book
---

<article class="book-card">
  <h4 class="book-title">{book.title}</h4>
  <figure class="book-cover">
    <img src={book.cover} alt={book.title} width="250" height="360" />
  </figure>
  <p class="book-price">{book.price} €</p>
  <button class="book-cta">Add to cart</button>
</article>
