---
const { searchString } = Astro.props
---

<form class="search-bar" name="search-bar" action="/" method="get">
  <input type="text" name="q" value={searchString}>
  <input type="submit" value="🔎" />
</form>
